$indigo-dye: #083D77;
$raisin-black: #2E2C2F;
$white: #FFFFFF;

html > body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  background-color: $indigo-dye;
  color: $white;
  padding: 1em 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header a {
  color: $white;
  font-size: 1.05em;
  text-decoration: none;
}

#header-title {
  place-self: center;
}

#header-nav {
  place-self: center;
}

#header-nav nav ul {
  padding-inline-start: 0;
}

#header-nav nav ul li{
  display: inline;  
  margin: 18px;
}

main {
  display: grid;
  padding: 2em;
}

footer {
  background-color: $raisin-black;
  color: $white;
  padding: 1em 2em;
  text-align: center;
}

@media screen and (max-width: 600px) {
  header {
    grid-template-columns: 1fr;
    padding: 0.5em;
  }

  #header-nav {
    text-align: center;
  }
}