$indigo-dye: #083D77;
$light-blue: #B0D0D3;
$raisin-black: #2E2C2F;
$white: #FFFFFF;

html > body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  background-color: $indigo-dye;
  color: $white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

header a {
  color: $white;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

#header-title {
  place-self: center;
  grid-column: 1 / 7;
}
#header-nav {
  place-self: center;
  text-align: center;
  grid-column: 7 / 13;
}

#header-nav nav ul {
  padding-inline-start: 0;
}

#header-nav nav ul li{
  display: inline;  
  margin: 18px;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

section {
  grid-column: 3 / 11;
}

#about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#about-text {
  grid-column: 2 / 8;
  place-self: center;
}

#about-image {
  grid-column: 9 / 12;
  padding: 0.5em;
  text-align: center;
}

#about-image img {
  border-radius: 50%;
  width: 80%;
  height: auto;
}

#projects {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#projects-problems {
  background-color: $light-blue;
  grid-column: 2 / 6;
  padding: 0 1em 0 1em;
}

#projects-stories {
  background-color: $light-blue;
  grid-column: 8 / 12;
  padding: 0 1em 0 1em;
}

footer {
  background-color: $raisin-black;
  color: $white;
  padding: 0.5em;
  text-align: center;
}

@media screen and (max-width: 600px) {
  header {
    text-align: center;
  }
  
  #header-title {
    grid-column: 1 / 13;
  }

  #header-nav {
    grid-column: 1 / 13;
  }

  section {
    grid-column: 2 / 12;
  }

  #about {
    grid-column: 1 / 13;
    margin: 0;
  }

  #about-text {
    grid-column: 2 / 12;
  }

  #about-image {
    grid-column: 3 / 11;
  }

  #about-image img {
    width: 70%;
  }

  #projects {
    grid-column: 1 / 13;
  }

  #projects-problems {
    grid-column: 2 / 12;
    margin-bottom: 0.5em;
  }

  #projects-stories {
    grid-column: 2 / 12;
  }
}