@charset "UTF-8";
html > body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

header {
  background-color: #083d77;
  color: #ffffff;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  font-size: 1.1em;
  margin-bottom: 1em;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

#header-title {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / 7;
}

#header-nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: right;
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / 11;
}

#header-nav nav ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

#header-nav nav ul li {
  display: inline;
  margin: 10px;
}

section {
  margin: 1em 0 1em 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

#about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

#about-text {
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3 / 8;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.6em;
}

#about-image {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8 / 11;
  text-align: right;
}

#about-image img {
  border-radius: 50%;
  width: 90%;
  height: auto;
}

#skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

#skills-tagline {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
}

#skills-frontend {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

#skills-backend {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / 8;
}

#skills-other {
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-column: 9 / 11;
}

.skills-box {
  background-color: #b0d0d3;
  border-radius: 0.5em;
  padding: 0 1em 0 1em;
}

.skills-box ul {
  margin: 0.2em;
  padding: 0 1em 1em 1em;
}

.skills-box li {
  list-style-type: '✔️';
  -webkit-padding-start: 1ch;
          padding-inline-start: 1ch;
  margin-top: 0.5em;
}

#projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

#projects-tagline {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
}

.projects-box {
  background-color: #d1d5de;
  border-radius: 0.5em;
  color: #000000;
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: 'image desc';
}

.projects-box-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
}

.projects-box-image img {
  max-height: 100%;
  max-width: 100%;
}

.projects-box-desc {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: desc;
  padding: 0 1em 0 1em;
}

.projects-box-desc a {
  color: #000000;
  text-decoration: none;
}

.projects-box-desc a:hover {
  text-decoration: underline;
}

#contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

#contact-tagline {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
}

#contact-buttons {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
  margin: 1em 0 1em 0;
}

.contact-button {
  color: #ffffff;
  border-radius: 0.5em;
  font-size: 1.2em;
  padding: 0.5em 2em 0.5em 2em;
  text-decoration: none;
}

.email-button {
  background-color: #2e2c2f;
  color: #ffffff;
}

.linkedin-button {
  background-color: #083d77;
}

.twitter-button {
  background-color: #001226;
}

.email-button:hover {
  text-decoration: underline;
}

footer {
  background-color: #2e2c2f;
  color: #ffffff;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  margin-top: 1em;
  padding: 0.5em;
  text-align: center;
}

@media screen and (max-width: 48em) {
  header {
    text-align: center;
  }
  #header-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  #header-nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    text-align: center;
  }
  #about {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  #about-text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
  }
  #about-image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
    text-align: center;
  }
  #skills {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  #skills-tagline {
    text-align: center;
  }
  #skills-frontend,
  #skills-backend,
  #skills-other {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
    margin: 0.5em 0 0.5em 0;
  }
  #projects {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    text-align: center;
  }
  #projects-tagline {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
  }
  #projects .projects-box {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'image' 'desc';
  }
  #contact {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    text-align: center;
  }
  #contact-tagline {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
  }
  #contact-email {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
  }
  .contact-button {
    display: block;
    margin: 0.5em;
  }
}
/*# sourceMappingURL=styles.css.map */