html > body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  background-color: #083D77;
  color: #FFFFFF;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

header a {
  color: #FFFFFF;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

#header-title {
  place-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
}

#header-nav {
  place-self: center;
  text-align: center;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / 13;
}

#header-nav nav ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

#header-nav nav ul li {
  display: inline;
  margin: 18px;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

section {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
}

#about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

#about-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  place-self: center;
}

#about-image {
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9 / 12;
  padding: 0.5em;
  text-align: center;
}

#about-image img {
  border-radius: 50%;
  width: 80%;
  height: auto;
}

#projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

#projects-problems {
  background-color: #B0D0D3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
  padding: 0 1em 0 1em;
}

#projects-stories {
  background-color: #B0D0D3;
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8 / 12;
  padding: 0 1em 0 1em;
}

footer {
  background-color: #2E2C2F;
  color: #FFFFFF;
  padding: 0.5em;
  text-align: center;
}

@media screen and (max-width: 600px) {
  header {
    text-align: center;
  }
  #header-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  #header-nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  section {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
  }
  #about {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    margin: 0;
  }
  #about-text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
  }
  #about-image {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / 11;
  }
  #about-image img {
    width: 70%;
  }
  #projects {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  #projects-problems {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
    margin-bottom: 0.5em;
  }
  #projects-stories {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
  }
}
/*# sourceMappingURL=styles.css.map */